@import "../../styles/global.scss";

.menu {
    background-color: $color-two;
    z-index: 1;
    margin-top: -42px;
    margin-bottom: -16px;
    height: 290vh;
    position: relative;
    .h2 {
        text-align: center;
        padding-top: 15%;
        font-family: 'Open Sans';
        font-size: 50px;
        margin-bottom: 150px;
    }

    .box {
        border: 1px solid #F79F1F;
        position: relative;
        padding-bottom: 10%;
        margin-bottom: 150px;
        box-shadow: 2px 2px 20px 5px #000;
        .img {
            height: 75px;
            width: 75px;
            border-radius: 50%;
            position: absolute;
            transform: translate(50%, 50%);
            top: -12%;
            left: 43.5%;
        }

        .h3 {
            padding-top: 5%;
            font-size: 34px;
            text-align: center;
        }

        .box1 {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 2%;
            .box2 {
                display: flex;
                flex-direction: row;
                padding-left: 10%;
                font-size: 18px;
                .p1 {
                    flex: 80%;
                }

                .p2 {
                    flex: 20%;
                }
            }

            .p3 {
                padding-left: 10%;
                font-style: oblique;
                font-weight: 200;
                margin-top: -3px;
            }
        }

        .box1::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 10%;
            width: 860px;
            height: 2px;
            background-color: #F79F1F;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .menu {
        
        height: 250vh;

        

        .box {
            .img {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                position: absolute;
                transform: translate(50%, 50%);
                top: -13%;
                left: 40%;
            }

            .box1 {

                .p3 {
                    margin-right: 90px;
                }
            }

            .box1::after {
                max-width: 80%;
            }
        }
    }
}

@media (min-width: 493px) and (max-width: 767px) {
    .menu {
        height: 250vh;

        .h2 {
            padding-top: 120px;
            margin-bottom: 100px;
        }

        .box {
            .img {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                position: absolute;
                transform: translate(50%, 50%);
                top: -13%;
                left: 33%;
            }

            .box1 {

                .p3 {
                    margin-right: 90px;
                }
            }

            .box1::after {
                max-width: 80%;
            }
        }
    }
}