@import "../../styles/global.scss";

.nav {
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: repeat-y;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform: translateY(-2%);
    margin-top: 0;

    .ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        .li {
            flex: 20%;
            padding-top: 1.2%;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            a {
                text-decoration: none;
                color: #fff;
                position: relative;
            }

            a::after {
                position: absolute;
                content: '';
                bottom: -7px;
                left: 50%;
                width: 0;
                height: 2px;
                border-radius: 10px;
                background-color: $color-two;
                transition: all 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            a:hover::after {
                width: 100%;
                padding: 1px;
            }

            a:hover {
                color: $color-two;
            }

            .isActive {
                color: $color-two;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .nav {
        height: 75px;
        .ul {

            .li {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 493px) and (max-width: 767px) {
    .nav {
        height: 90px;
        
        .ul {
            flex-wrap: wrap;
            .li {
                flex: 33.3%;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 492px) {
    .nav {
        height: 100px;
        .ul {
            flex-wrap: wrap;
            .li {
                flex: 33.3%;
                font-size: 15px;
                margin-bottom: 10px;
                margin-left: -40px;
                margin-right: 40px;
            }
        }
    }
}