@import "../../styles/global.scss";

.nav {
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: repeat-y;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform: translateY(-2%);
    margin-top: 0;

    .ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        .li {
            flex: 20%;
            padding-top: 1.2%;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            a {
                text-decoration: none;
                color: #fff;
                position: relative;
            }

            a::after {
                position: absolute;
                content: '';
                bottom: -7px;
                left: 50%;
                width: 0;
                height: 2px;
                border-radius: 10px;
                background-color: $color-two;
                transition: all 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            a:hover::after {
                width: 100%;
                padding: 1px;
            }

            a:hover {
                color: $color-two;
            }

            .isActive {
                color: $color-two;
            }
        }
    }
    .div {
        display: none;
        
        .btn {
            font-size: 25px;
            margin-left: auto;
            margin-top: 4%;
            border-radius: 20%;
            border: none;
            width: 40px;
            height: 40px;
        }
        .btn:hover {
            color: $color-two;
        }
        
    }
    .menu {
        display: none;
        height: auto;
        .ul1 {
            background-color: rgba(0, 0, 0, 0.6);
            min-width: 150px;
            max-width: 150px;
            height: auto;
            margin-top: 4.9%;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
            margin-left: 80%;
            list-style: none;
            .li1 {
                padding-top: 10%;
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    text-align: center;
                }
                a:hover {
                    color: $color-two;
                }

                .isActive {
                    color: $color-two;
                }
            }
            .li1:last-of-type {
                padding-bottom: 10%;
            }
        }
    }
    .activeMenu {
        display: flex;
    }
}



@media (min-width: 768px) and (max-width: 1200px) {
    .nav {
        height: 75px;
        .ul {
            .li {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 671px) and (max-width: 767px) {
    .nav {
        height: 90px;
        
        .ul {
            display: none;
        }
        .div {
            display: flex;
        }
    }
}
@media (max-width: 670px) {
    .nav {
        height: 70px;
        
        .ul {
            display: none;
        }
        .div {
            display: flex;
            .btn {
                margin-left: 85%;
                margin-top: 3%;
            }
        }
        .menu {
            .ul1 {
                margin-top: 2.4%;
                margin-left: 70%;
                .li1 {
                    padding-top: 10%;
                }
                .li1:last-of-type {
                    padding-bottom: 10%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .nav {
        height: 70px;
        
        .ul {
            display: none;
        }
        .div {
            display: flex;
            .btn {
                margin-left: 70%;
            }
        }
        .menu {
            .ul1 {
                margin-top: 5.9%;
                margin-left: 50%;
                .li1 {
                    padding-top: 10%;
                }
                .li1:last-of-type {
                    padding-bottom: 10%;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .nav {
        height: 70px;
        
        .ul {
            display: none;
        }
        .div {
            display: flex;
            .btn {
                margin-left: 70%;
            }
        }
        .menu {
            .ul1 {
                margin-top: 4.3%;
                margin-left: 50%;
                .li1 {
                    padding-top: 10%;
                }
                .li1:last-of-type {
                    padding-bottom: 10%;
                }
            }
        }
    }
}

@media (max-width: 435px) {
    .nav {
        height: 70px;
        
        .ul {
            display: none;
        }
        .div {
            display: flex;
            .btn {
                margin-left: 70%;
            }
        }
        .menu {
            .ul1 {
                margin-top: 1.15rem;
                margin-left: 50%;
                .li1 {
                    padding-top: 10%;
                }
                .li1:last-of-type {
                    padding-bottom: 10%;
                }
            }
        }
    }
}

