@import "../../styles/global.scss";

.footer {
    background-color: #151515;
    height: 15vh;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    .wrapper {
        .ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            transform: translateY(50%);
            padding-top: 2%;
            text-transform: uppercase;
            .li {
                flex: 50%;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: #fff;
                }

                a:hover {
                    color: $color-two;
                }

                .isActive {
                    color: $color-two;
                }
            }
        }
    }

    .h6 {
        transform: translateY(50%);
        padding-top: 1%;
        font-size: 13px;
        position: relative;
    }

    .h6::before {
        position: absolute;
        content: '';
        top: 2px;
        left: 1.5%;
        height: 2px;
        width: 96vw;
        background-color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .footer {
        height: 12vh;

        .wrapper {
            .ul {
                padding-bottom: 10px;
                font-size: 15px;

                .li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .h6 {
            font-size: 12px;
        }
    }
}

@media (min-width: 493px) and (max-width: 767px) {
    .footer {
        height: 14vh;
        text-align: left;
        padding-top: 30px;
        .wrapper {
            
            .ul {
                margin-top: -50px;
                font-size: 15px;
                flex-wrap: wrap;
                
                .li {
                    margin-bottom: 10px;
                    a {
                        font-size: 15px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .h6 {
            margin-top: 40px;
            font-size: 12px;
            text-align: center;
        }

        .h6::before {
            left: 1.5%;
            height: 2px;
            width: 95vw;
            background-color: #fff;
        }
    }
}